.navbar-top-links li select {
  min-height: 40px;
  margin: 5px 0px;
}

.chat-panel .panel-body {
  height: auto;
  overflow-y: hidden;
}

#page-wrapper {
  margin: 0;
}

footer {  
}
  .bs-docs-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
  }

  .bs-docs-social-buttons {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

    .bs-docs-social-buttons li {
      display: inline-block;
    }

    .github-btn {
      border: 0;
      overflow: hidden;
    }

  .bs-docs-footer-links {
    margin-top: 20px;
    padding-left: 0;
    color: #999;
  }

    .bs-docs-footer-links li:first-child {
      padding-left: 0;
    }

    .bs-docs-footer-links li {
      display: inline;
      padding: 0 2px;
    }